<?xml version="1.0" encoding="utf-8"?>
<phpunit backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Camelot CodeSniffer Test Suite">
            <directory>Camelot/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
